address {
  a {
    span,
    strong {
      font-size: 0.7rem;
    }
    @media (max-width: 757px) {
      .web {
        display: none;
      }
    }
  }
}

#skills {
  h5 {
    font-size: 0.7rem;
  }
  .s-list {
    font-size: 0.65rem;
  }
}
#language,
#interests {
  li {
    font-size: 0.7rem;
  }
}
.md-main-col {
  @media (min-width: 768px) {
    width: 50%;
  }
}
#legalandinfo {
  #rodo {
    font-size: 0.65rem;
  }
  #cv__info {
    font-size: 0.45rem;
  }
}
