address {
  a {
    span {
      font-size: 0.7rem;
    }
  }
}

#skills {
  h5 {
    font-size: 0.7rem;
  }
  .s-list {
    font-size: 0.65rem;
  }
}
#language,
#interests {
  li {
    font-size: 0.7rem;
  }
}
.md-main-col {
  @media (min-width: 768px) {
    width: 50%;
  }
}
#legalandinfo {
  #rodo {
    font-size: 0.65rem;
  }
  #cv__info {
    font-size: 0.55rem;
  }
}
