#profile {
  h2 {
    font-size: 0.8rem;
  }
}
#info {
  h3 {
    font-size: 0.6rem;
  }
}
#education,
#experience {
  .date {
    font-size: 0.55rem;
  }
  .name {
    font-size: 0.65rem;
  }
  .study,
  .position,
  .description {
    font-size: 0.55rem;
  }
}

#project {
  a {
    font-size: 0.55rem;
  }
}
